version: '3'
services:
    mongodb_container:
        image: 'mongo:latest'
        restart: always
        environment: 
            MONGO_INITDB_DATABASE: db-notes
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
        volumes: 
            - mongodb_data_container:/data/db
        ports: 
            - 27017:27017
volumes:
    mongodb_data_container:
